<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="icon" href="assets/img/myfav.png" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <title>My first internet shop</title>
  </head>
  <body>
    <header class="header">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index-header-nav-partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index-form-reg-partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index-form-log-partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index-shop-edit-partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index-shop-basket-partial.html"
      ></section>
    </header>
    <main class="main">
      <div class="shop-wrapper container">
        <h1 class="shop-header">shop header</h1>
        <div class="shop-box">
          <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index-shop-search-partial.html"
          ></section>
          <section
            data-hx-trigger="load"
            data-hx-swap="outerHTML"
            data-hx-get="index-shop-cards-partial.html"
          ></section>
        </div>
      </div>
      <script src="assets/js/index.js"></script>
    </main>
    <footer class="footer"></footer>
  </body>
</html>
