.header {
  position: relative;

  .guest {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .guest-name {
      font-weight: 700;
    }

    .guest-greet,
    .guest-registration,
    .guest-enter {
      margin: 5px 20px;
    }

    .guest-registration,
    .guest-enter {
      cursor: pointer;
      text-decoration: underline;

      &.unvisible {
        margin: 0;
        display: none;
      }
    }

    .guest-exit {
      display: none;

      &.block {
        display: inline-block;
        cursor: pointer;
        text-decoration: underline;
        margin: 5px 20px;
      }
    }
  }
}
