.header {
  .header-nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    .header-nav-wrapper {
      width: 100%;
      max-width: 1400px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 30px auto 100px;

      .header-nav__logo {
        margin: 0 5px;

        .logo-img {
          height: 30px;
        }
      }

      .header-nav-guest {
        width: 260px;
        display: flex;
        justify-content: flex-end;

        .guest-greet,
        .guest-registration,
        .guest-enter,
        .guest-exit {
          white-space: nowrap;
          margin: 0 10px;
        }

        .guest-greet {
          .guest-name {
            font-weight: 700;
          }
        }

        .guest-registration,
        .guest-enter {
          cursor: pointer;
        }

        .guest-exit {
          display: none;

          &.block {
            display: inline-block;
            cursor: pointer;
          }
        }
      }
    }
  }

  .header-nav__carousel {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1050px;
    height: 130px;
    overflow: hidden;
    position: relative;
    margin: 0 15px;

    &::before,
    &::after {
      content: "";
      width: 370px;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
      border-radius: 12px;
    }

    &::before {
      left: 0;
      background: linear-gradient(to right, #53525267 1%, transparent 100%);
    }

    &::after {
      right: 0;
      background: linear-gradient(to left, #53525267 1%, transparent 100%);
    }

    .slide {
      height: 100%;
      display: flex;
      align-items: center;
      animation: slideshow 50s linear infinite;
      white-space: nowrap;

      .slide-text {
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
        margin-right: 20px;

        &.alert {
          color: var(--color-error);
          margin: 50px;
        }

        &.info {
          color: blue;
        }

        &.accent {
          color: #eb8006;
        }

        &.succes {
          color: var(--color-success);
        }
      }
    }
  }
}

@keyframes slideshow {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
