.shop-cards-box {
  width: 100%;
  max-width: 75%;
  text-align: center;
  position: relative;
  border: 1px solid black;

  .cards-box-wrapper {
    .cards-box {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-items: center;
      gap: 10px;
      padding: 10px;
      height: 100%;
      max-height: 1085px;
      overflow: hidden;

      &.more-height {
        height: 2170px;
        overflow: hidden;

        .button-next {
          display: none;
        }

        .button-next2 {
          margin: 10px 10px 30px;
          display: inline-block;
        }

        &.more-height {
          height: 2170px;
          overflow: hidden;
        }
      }

      .card-wrapper {
        border: 1px solid #7c7a7a5e;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 300px;
        height: 350px;
        padding: 5px;
        cursor: pointer;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
          box-shadow: 2px 5px 5px gray;
          transition: 0.5s;
        }

        .card-img-box {
          height: 200px;
          margin: 0 auto;
          aspect-ratio: 1 / 1;
          object-position: 50% 50%;

          .card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .card-descript {
          text-align: left;

          .visible-block {
            height: 120px;

            .card-item {
              margin: 10px 0;

              &.available {
                color: var(--color-info);
              }

              &.name {
                height: 22px;
                overflow: hidden;
              }

              &.stock {
                &.in-stock {
                  color: var(--color-success);
                }

                &.wait-stock {
                  color: var(--color-accent);
                }

                &.out-stock {
                  color: var(--color-error);
                }
              }
            }
          }
        }
      }
    }

    .hiden-cards-box {
      height: 0;

      &.height {
        min-height: 1000px;
      }

      .hiden-cards {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &.hiden {
          position: absolute;
          overflow: hidden;
          clip: rect(0 0 0 0);
          width: 1px;
          height: 1px;
          margin: -1px;
          padding: 0;
          border: 0;
        }

        .hiden-cards-wraper {
          display: flex;
          align-items: flex-start;
          text-align: left;
          width: 100%;

          .hiden-card-img-wrapper {
            width: 100%;
            max-width: 45%;
            height: 400px;

            .hiden-card-img-box {
              margin: 20px;
              aspect-ratio: 1 / 1;
              object-position: 50% 50%;

              .hiden-card-img {
                border: 1px solid black;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }

          .hiden-card-descript {
            width: 100%;
            max-width: 55%;

            .hiden-visible-block {
              height: 580px;

              .card-item {
                margin: 0;
                padding-bottom: 20px;

                &.name {
                  text-align: center;
                }

                &.descript {
                  max-width: 500px;
                }

                &.stock {
                  &.in-stock {
                    color: var(--color-success);
                  }

                  &.wait-stock {
                    color: var(--color-accent);
                  }

                  &.out-stock {
                    color: var(--color-error);
                  }
                }
              }
            }
          }
        }

        .button-box {
          display: flex;
          align-items: center;
          justify-content: center;

          flex-wrap: wrap;
          width: 100%;
          max-width: 570px;

          .remove-hiden {
            position: relative;

            &::after {
              position: absolute;
              content: "";
              background-image: url(../img/close.svg);
              background-size: cover;
              background-color: gray;
              top: 2px;
              right: 5px;
              width: 15px;
              height: 15px;
            }
          }

          .shop-counter {
            margin: 0 50px;
            display: flex;
            align-items: center;

            .counter-value {
              margin-left: 10px;
              width: 60px;
            }

            .count-plus,
            .count-minus {
              padding: 0 5px;
              margin: 0 5px;
              cursor: pointer;

              &.out-stock {
                transform: scaleX(0);
              }
            }
            .shop-count {
              text-align: center;
              width: 40px;
              padding: 5px;
              border: 1px solid black;

              &.out-stock {
                transform: scaleX(0);
              }
            }
          }

          .add-item {
            position: relative;
            &.out-stock {
              transform: scaleX(0);
            }

            &::after {
              position: absolute;
              content: "";
              background-image: url(../img/done.svg);
              background-size: cover;
              background-color: var(--color-success);
              top: 2px;
              right: 5px;
              width: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }

  .button-next {
    margin: 10px 10px 30px;
  }

  .button-next2 {
    display: none;
  }

  &.more-height {
    .cards-box-wrapper {
      .cards-box {
        height: 100%;
        max-height: 2170px;
        overflow: hidden;
      }
    }

    &.more-height2 {
      .cards-box-wrapper {
        .cards-box {
          height: 100%;
          max-height: max-content;

          overflow: hidden;
        }
      }
      .button-next2 {
        display: none;
      }
    }

    .button-next {
      display: none;
    }

    .button-next2 {
      margin: 10px 10px 30px;
      display: inline-block;
    }
  }
}
