.main {
  position: relative;

  .shop-wrapper {
    margin-top: 200px;
    margin-bottom: 50px;

    .shop-header {
      text-align: center;
      margin-bottom: 150px;
    }

    .shop-box {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;

      .shop-search-box {
        width: 100%;
        max-width: 25%;
        text-align: center;
        border: 1px solid black;
        padding: 5px;

        .main-search-box {
          .main-search {
            width: 100%;
            max-width: 250px;
          }
        }

        .search-prise-wrapper {
          max-width: 400px;
          display: grid;
          grid-template-columns: 100%;
          grid-gap: 20px;

          .search-prise-element {
            background: #fff;
            border-radius: 10px;
            padding: 20px 15px;

            .price-input {
              width: 100%;
              display: flex;
              margin: 30px 0;

              .search-prise-field {
                display: flex;
                width: 100%;
                height: 45px;
                align-items: center;

                input {
                  width: 100%;
                  height: 100%;
                  outline: none;
                  font-size: 19px;
                  border-radius: 5px;
                  text-align: center;
                  border: 1px solid black;
                  -moz-appearance: textfield;
                }
              }

              .separator {
                width: 100%;
                max-width: 50px;
                display: flex;
                font-size: 19px;
                align-items: center;
                justify-content: center;
              }
            }

            .slider {
              height: 5px;
              position: relative;
              background: var(--color-success);
              border-radius: 5px;

              .progress {
                height: 100%;
                left: 25%;
                right: 25%;
                position: absolute;
                border-radius: 5px;
                background: var(--color-error);
              }
            }

            .range-input input {
              display: flex;
              position: relative;
              width: 100%;
              height: 5px;
              background: none;
              pointer-events: none;
              -webkit-appearance: none;
              -moz-appearance: none;
            }

            .range-min {
              position: relative;
              top: -5px;
            }

            .range-max {
              position: relative;
              top: -10px;
            }

            input[type="range"]::-webkit-slider-thumb {
              height: 20px;
              width: 10px;
              border-radius: 50%;
              background: var(--color-error);
              pointer-events: auto;
              -webkit-appearance: none;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
            }

            input[type="range"]::-moz-range-thumb {
              height: 20px;
              width: 10px;
              border: none;
              border-radius: 50%;
              background: var(--color-success);
              pointer-events: auto;
              -moz-appearance: none;
              box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
            }
          }
        }

        .search-group-wrapper {
          text-align: left;
          position: relative;
          overflow: hidden;
          border: 1px solid black;
          border-radius: 5px;
          margin: 5px 0;

          .search-group-header {
            padding: 0 10px;
            font-weight: 700;
            position: relative;
            display: inline-block;
            width: 100%;
            max-width: 80px;
            cursor: pointer;

            &::after {
              position: absolute;
              content: "";
              background-image: url(../img/cros.svg);
              background-size: cover;
              top: 2px;
              left: 75px;
              width: 20px;
              height: 20px;
              transition: 0.5s;
            }

            &.rotate {
              &::after {
                transform: rotate(45deg);
                transition: 0.5s;
              }
            }
          }

          .search-group {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            margin: 0 -5px;
            left: 0;
            height: auto;

            &.invisible {
              left: -350px;
              height: 0;
            }
          }

          .search-item-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: row-reverse;
            padding: 0 5px;

            .search-item-text {
              margin: 10px 5px 10px 1px;
              cursor: pointer;
            }

            .search-item {
              margin: 10px 1px 10px 5px;
            }
          }
        }
      }
    }
  }
}
